@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: $main-font;
  color: $color-primary;
  font-size: 23px;
  line-height: 140%;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@import 'components/icon';
@import 'components/header';
@import 'components/menu';
@import 'components/nav';

.main {
  section {
    padding: 60px 20px;
    h2 {
      margin: 0;
    }
  }
}
